* { margin: 0; padding: 0; }
*:focus { outline: none; }
html { height: 101%; }
body { background: #f2f2f2 url('../images/background-3.png'); font-size: 62.5%; overflow: hidden;}

h1 { font-family: "Chivo", "Trebuchet MS", Arial, sans-serif; color: #67b7f0; font-size: 2.5em; margin-bottom: 6px; }
h2 { font-family: "Chivo", "Trebuchet MS", Arial, sans-serif; color: #67b7f0; font-size: 2.0em; margin-bottom: 10px; text-decoration: underline; }
h3 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #67b7f0; font-weight: normal; font-size: 1.5em; margin-bottom: 10px; }
h4 { font-family: "Trebuchet MS", Verdana, Arial, sans-serif; color: #67b7f0; font-weight: bold; font-size: 1.6em; margin-bottom: 4px; }

p { font-family: "Rosario", serif; color: #C2C2C2; font-size: 1.5em; line-height: 1.4em; margin-bottom: 15px; padding-left: 35px; }
small { font-family: "Rosario", serif; color: #C2C2C2; font-size: 1.3em; display: block; margin-bottom: 6px; }
ul { display: block; list-style: none; }
ul li { padding-left: 45px; list-style-type: none; vertical-align: top; background: url('../images/icons/bullet.png') 25px 5px no-repeat; margin-bottom: 5px; font-family: "Rosario", serif; color: #C2C2C2; font-size: 1.4em; line-height: 2.0em; }

img { border: 0; max-width: 100%; /* margin-bottom: 10px; */}

a { color: #5582d6; text-decoration: none; }
a:hover { text-decoration: underline; }

/** @group core layout **/
#wrapper { padding: 35px 20px 0px 40px; min-width: 260px; max-width: 1000px; margin: auto; overflow: hidden;}

#left { float: left; width: 260px; padding: 0 20px;}
#right { float: right; width: 658px; padding: 0 20px 0px 20px; border-left: 2px dashed #67b7f0;}
header { width: 100%; }

#footer { height: 35px; }

/** @group personal settings **/
#info { float: left; margin-bottom: 12px; }
#photo { /*float: left;*/ }
#photo-border {
background: #fff;
display: inline;
float: left;
margin: 10px 27px 27px 34px;
width: 150px;
padding: 10px 10px 5px;
text-align: center;
font-family: "Marker Felt", sans-serif;
text-decoration: none;
color: #333;
font-size: 18px;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
#photo-border:after { content: attr(title); font-family: 'Shadows Into Light', cursive; font-weight: bold; font-size: 1.5em; }

.jspContainer .jspVerticalBar { width: 8px;}
.jspContainer .jspTrack { background: #1B202E; border-radius: 4px;}
.jspContainer .jspDrag { background: #67b7f0 ; border-radius: 4px;}

/** @group skills **/
#skills-left { display: block; float: left; margin-right: 30px; }
#skills-right { display: block; float: left;}

/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }