* { margin: 0; padding: 0; }
*:focus { outline: none; }
a { color: #dadada; }
img { border: 0; max-width: 100%; }
div { margin-bottom: 15px; }
body {
	background-color: #1D1D1D;
	background-image: url('../images/background-3.png');
	margin : 0;
	padding : 0;
	color: #ffffff;
	text-align: center;
	font-family: 'open sans', sans-serif;
	font-size: 18px;
}
#main {
	width : 400px;
	height : 100%;
	margin: 100px auto;
}
#photo-border {
	background : #fff;
	display : block;
	width: 200px;
	padding : 10px 10px 5px;
	-webkit-box-shadow : 0 3px 6px rgba(0,0,0,.25);
	margin : 15px auto 25px;
}
#contact-box, #projects { width: 95%; margin: auto;}
/* icons */
.contact-info, .project { height: 24px; background-repeat: no-repeat; text-align: left; padding-left: 35px; line-height: 24px;}
#location { background-image: url('../images/icons/iconmonstr-location-11-icon-24.png');}
#mail { background-image: url('../images/icons/iconmonstr-email-11-icon-24.png'); }
#skype { background-image: url('../images/icons/iconmonstr-skype-icon-24.png'); }
#resume { background-image: url('../images/icons/iconmonstr-pdf-file-2-icon-24.png'); }
#linkedin { background-image: url('../images/icons/iconmonstr-linkedin-icon-24.png'); }
#github { background-image: url('../images/icons/iconmonstr-github-6-icon-24.png'); }
#facebook { background-image: url('../images/icons/iconmonstr-facebook-icon-24.png'); }
#twitter { background-image: url('../images/icons/iconmonstr-twitter-icon-24.png'); }
.js-project { background-image: url('../images/icons/iconmonstr-code-6-icon-24.png'); }
