@media only screen and (max-width: 480px) {
	body { font-size: 15px; }
	/*a { text-decoration: none; }*/
	#main { margin: 10px auto; width: 90%; }
	#contact-box { width: 100%; }
}

@media only screen and (max-width: 320px) {
	#main { width: 95%;}
}
